<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MiCo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiCo.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/content/default/MICO.svg" type="image/svg" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <div class="col">
                    <a class="navbar-brand fs-3" asp-area="" asp-controller="Home" asp-action="Index"><span class="text-mico">Mi</span>Co</a>
                </div>
                <div class="col">
                    <form action="/" method="get">
                        <div class="input-group">
                            <button class="btn btn-mico text-secondary" type="submit" id="button-addon1">
                                <i class="bi bi-search text-secondary"></i>
                            </button>
                            <input type="text" class="form-control border-mico" name="Searching" placeholder="Search..." aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                    </form>
                </div>
                <div class="col d-flex flex-row flex-row-reverse align-items-center">
                    @if (Context.Session.GetInt32("UserId") != null)
                    {
                        <div class="btn-group">
                            <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Context.Session.GetString("Nickname")
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-login="@Context.Session.GetString("Login")"><i class="bi bi-person-circle"></i> Your profile</a></li>
                                @if (Context.Session.GetInt32("Role") == 1)
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Justice" asp-action="Index"><i class="bi bi-hammer"></i> Justice!</a></li>
                                }
                                <li><a class="dropdown-item" asp-area="" asp-controller="Authorization" asp-action="Logout"><i class="bi bi-box-arrow-left"></i> Log out</a></li>
                            </ul>
                        </div>
                        @if (Context.Session.GetInt32("Role") == 1)
                        {
                            <span class="badge rounded-pill text-bg-warning">MOD</span>
                        }
                        <img class="me-2 flex-shrink-0 rounded-circle avatar border" src="@Context.Session.GetString("PFP")" alt="Generic placeholder image">
                    }
                    else
                    {
                        <a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Registration"><i class="bi bi-pencil-square"></i> Sign up</a>
                        <a class="nav-link me-3" asp-area="" asp-controller="Authorization" asp-action="Login"><i class="bi bi-box-arrow-in-right"></i> Log in</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col">
                    &copy; 2023 - MiCo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col">
                    <i class="bi bi-github"></i> Author - <a href="https://github.com/BubbleWaffle">Błażej K</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
