@model MiCo.Models.ViewModels.HomeViewModel
<div class="container">
    <div class="row">

        <div class="col-2 d-flex flex-column align-items-end mb-2">
            <div class="btn-group-vertical btn-group-sm">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-secondary" for="btnradio1"><i class="bi bi-newspaper"></i> Latest</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio2"><i class="bi bi-fire"></i> Hot</label>
            </div>
        </div>

        <div class="col col-xs-7 col-xl-7">
            @if (Context.Session.GetInt32("UserId") == null)
            {
                <a type="button" class="btn btn-mico btn-sm mb-2" asp-controller="Authorization" asp-action="Login"><i class="bi bi-plus-circle"></i> Creat new topic</a>
            }
            else
            {
                <a type="button" class="btn btn-mico btn-sm mb-2" asp-controller="Thread" asp-action="Create"><i class="bi bi-plus-circle"></i> Creat new topic</a>
            }

            @if(Model._threads.Any())
            {
                <ul class="list-unstyled">

                    @foreach (var thread in Model._threads)
                    {
                        <li class="media border d-flex align-items-center p-2">
                            @if (thread.thread_images != null && thread.thread_images.Count > 0)
                            {
                                var firstImage = thread.thread_images[0];
                                <a asp-controller="Thread" asp-action="Index" asp-route-id="@thread.id"><img class="mr-3 flex-shrink-0 threads-list-img border rounded" src="@firstImage.image" alt="Generic placeholder image"></a>
                            }
                            else
                            {
                                <a asp-controller="Thread" asp-action="Index" asp-route-id="@thread.id"><img class="mr-3 flex-shrink-0 threads-list-img border rounded" src="../content/default/empt_default.svg" alt="Generic placeholder image"></a>
                            }
                            <div class="media-body px-3 text-truncate w-100">
                                <div class="row">
                                    <div class="col">
                                        <a class="text-decoration-none" asp-controller="Thread" asp-action="Index" asp-route-id="@thread.id"><h5 class="mt-0 mb-1">@thread.title</h5></a>
                                        <a class="text-decoration-none text-reset" asp-controller="Profile" asp-action="Index" asp-route-login="@thread.author.login"><small>Author: @thread.author.login</small></a>
                                    </div>
                                    <div class="col d-flex flex-row-reverse">
                                        <small class="text-decoration-underline">@thread.creation_date.UtcDateTime</small>
                                    </div>
                                </div>
                                @thread.description
                                @if (thread.thread_tags != null)
                                {
                                    <div class="tags-container d-flex flex-wrap mt-2">
                                        @foreach (var tag in thread.thread_tags)
                                        {
                                            <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index" asp-route-search="@tag.tag.tag"><span class="badge badge-primary mr-1">@tag.tag.tag</span></a>
                                        }
                                    </div>
                                }
                                <div class="row d-flex mt-2">
                                    <div class="col text-warning">
                                        <i class="bi bi-star-fill"></i> : 123
                                    </div>
                                    <div class="col-10">
                                        <div class="btn-group btn-group-sm threads-list-btn" role="group" aria-label="Basic example">
                                            @if (thread.id_author != Context.Session.GetInt32("UserId"))
                                            {
                                                <button type="button" class="btn btn-outline-success"><i class="bi bi-hand-thumbs-up"></i></button>
                                                <button type="button" class="btn btn-outline-danger"><i class="bi bi-hand-thumbs-down"></i></button>
                                            }
                                            <button type="button" class="btn btn-outline-secondary"><i class="bi bi-share"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            }
            else
            {
                <h1 class="text-mico">Nothing here but us chickens... <i class="bi bi-crosshair"></i></h1>
            }
        </div>

        <div class="col d-none d-xl-block">
            @if (Model._topUsers.Any())
            {
                <div class="row border rounded d-grid">
                    <div class="col border-bottom">
                        <i class="bi bi-trophy text-warning"></i> Wall of fame:
                    </div>
                    <div class="col">
                        @foreach (var topUser in Model._topUsers)
                        {
                            <div class="row mt-2 mb-2 d-flex align-items-center">
                                <div class="col-3">
                                    @if (topUser.pfp != null)
                                    {
                                        <a class="text-decoration-none text-reset" asp-controller="Profile" asp-action="Index" asp-route-login="@topUser.login"><img class="mr-3 flex-shrink-0 rounded-circle wall-of-fame-img" src="@topUser.pfp" alt="Generic placeholder image"></a>
                                    }
                                    else
                                    {
                                        <a class="text-decoration-none text-reset" asp-controller="Profile" asp-action="Index" asp-route-login="@topUser.login"><img class="mr-3 flex-shrink-0 rounded-circle wall-of-fame-img" src="../content/default/pfp_default.svg" alt="Generic placeholder image"></a>
                                    }
                                </div>
                                <div class="col fw-bold">
                                    <a class="text-decoration-none text-reset" asp-controller="Profile" asp-action="Index" asp-route-login="@topUser.login">@topUser.nickname</a>
                                </div>
                                <div class="col">
                                    <small>Threads: @topUser.user_threads?.Count</small>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

    </div>
</div>
