@model MiCo.Models.ViewModels.JusticeViewModel
@{
    ViewData["Title"] = "Punish them all! - ";
}
<div class="container">
    <div class="row d-grid">

        @if (Model._reports.Any())
        {
            int index = 1;
            <h1>Reports:</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Reported user:</th>
                        <th scope="col">Reported by:</th>
                        <th scope="col">Reason:</th>
                        <th scope="col">Date of report:</th>
                        <th scope="col">Action:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model._reports)
                    {
                        <tr>
                            <th scope="row" class="border">@index</th>
                            <td class="border"><a class="text-decoration-none" asp-controller="Profile" asp-action="Index" asp-route-login="@report.reported_user.login">@report.reported_user.login</a></td>
                            <td class="border"><a class="text-decoration-none" asp-controller="Profile" asp-action="Index" asp-route-login="@report.reporting_user.login">@report.reporting_user.login</a></td>
                            <td class="border">@report.reason</td>
                            <td class="border">@report.report_date.ToString("dd/MM/yyyy")</td>
                            <td class="border">
                                <a type="button" class="btn btn-success btn-sm" asp-controller="Justice" asp-action="Save=@report.id">Save!</a>
                                <a type="button" class="btn btn-danger btn-sm" asp-controller="Justice" asp-action="Ban=@report.reported_user.login">Ban!</a>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        }

        @if (Model._bans.Any())
        {
            int index = 1;
            <h1>Bans:</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Banned user:</th>
                        <th scope="col">Banned by:</th>
                        <th scope="col">Reason:</th>
                        <th scope="col">Date of ban:</th>
                        <th scope="col">Bannned until:</th>
                        <th scope="col">Action:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ban in Model._bans)
                    {
                        <tr>
                            <th scope="row" class="border">@index</th>
                            <td class="border">@ban.banned_user.login</td>
                            <td class="border"><a class="text-decoration-none" asp-controller="Profile" asp-action="Index" asp-route-login="@ban.moderator.login">@ban.moderator.login</a></td>
                            <td class="border">@ban.reason</td>
                            <td>@ban.ban_date.ToString("dd/MM/yyyy")</td>
                            @if (ban.ban_until == null)
                            {
                                <td class="text-danger border">Banned permanently!</td>
                            }
                            else
                            {
                                <td class="border">@ban.ban_until?.ToString("dd/MM/yyyy")</td>
                            }
                            <td class="border">
                                <a type="button" class="btn btn-warning btn-sm" asp-controller="Justice" asp-action="Unban=@ban.banned_user.login">Unban!</a>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        }

        @if (!Model._reports.Any() && !Model._bans.Any())
        {
            <h1 class="text-mico text-center">MiCo world is clean! There is nothing to do! <i class="bi bi-emoji-dizzy-fill"></i></h1>
            <div class="col d-flex justify-content-center">
                <a type="button" class="btn btn-mico btn-sm mt-3" asp-controller="Home" asp-action="Index">Go to home page!</a>
            </div>
        }

    </div>
</div>